<section class="my-3">
  <div class="media mt-4 px-1">
    <img class="card-img-100 rounded-circle d-flex z-depth-1 mr-3" [src]="review.movie.imageUrl" [alt]="review.movie.title">
    <div class="media-body">
      <h5 class="font-weight-bold mt-0">
        <a class="text-default" [routerLink]="'/movie-details/' + review.movie._id">{{review.movie.title}}</a>
      </h5>
      {{review.content}}
    </div>
  </div>
</section>
