<br/>

<div class="row justify-content-center">
  <div class="col-6">
    <div class="text-center border border-light p-5">
      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button mdbBtn [ngClass]="isLogin ? 'btn-selected' : 'btn-unselected'"
                (click)="setIsLogin(true)"
                [disabled]="isLogin"
                type="button" color="unique" size="lg" class="waves-light" mdbWavesEffect>Login
        </button>
        <button mdbBtn [ngClass]="isLogin ? 'btn-unselected' : 'btn-selected'"
                [disabled]="!isLogin"
                (click)="setIsLogin(false)"
                type="button" color="unique" size="lg" class="waves-light" mdbWavesEffect>Register
        </button>
      </div>
      <app-login *ngIf="isLogin"></app-login>
      <app-register *ngIf="!isLogin"></app-register>
    </div>
  </div>
</div>
