<div class="h-75">
  <div class="pt-4 h-100">
    <h3 class="h3-responsive text-center">Statistics</h3>
    <hr>
    <div class="mx-5" id="chart" appBarChart [chartData]="data | async"></div>
  </div>
</div>
