<h4 style="display: flex;">Filter Reviews</h4>
<div class="row">
  <div class="md-form md-outline mt-0 ml-3">
    <input mdbInput type="text" id="userReviewerLabelForm" class="input-form form-control"
           [(ngModel)]="userReviewerToSearch">
    <label for="userReviewerLabelForm" class="ml-2">Search By Reviewer...</label>
  </div>
  <div class="md-form md-outline mt-0 ml-3">
    <input mdbInput type="text" id="reviewContentLabelForm" class="input-form form-control"
           [(ngModel)]="reviewContentToSearch">
    <label for="reviewContentLabelForm" class="ml-2">Search By Content...</label>
  </div>
  <div class="col-md-3">
    <mdb-checkbox [(ngModel)]="isRatingFilterChecked" [checked]="false" [default]="true">Filter By Rate</mdb-checkbox>
    <app-movie-rating [isDisabled]="!isRatingFilterChecked"
                      (ratingChange)="onRatingChange($event)"></app-movie-rating>
  </div>
</div>
<div class="container-fluid mt-3" style="background-color: #f6f6f5">
  <div class="row text-md-left pt-3 mx-5" *ngFor="let review of reviews | reviewRatingFilter: ratingFilterValue
                                                          | reviewContentFilter: reviewContentToSearch
                                                          | reviewerNameFilter: userReviewerToSearch">
    <ul class="list-unstyled col">
      <app-review [review]="review" [isEditable]="usersService.getUser().username === review.username"
                  (onEditReview)="editReview($event)" (onDeleteReview)="deleteReview($event)"></app-review>
    </ul>
  </div>
</div>
