<div class="jumbotron text-center p-4" style="margin-top: 4%">
  <div class="row">
    <div class="ml-3 rating-style">
      <mdb-icon fas icon="star" size="2x" style="color:var(--rating-color);"></mdb-icon>
      {{movieDetails.movie.rating}}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="{{movieDetails.movie.imageUrl}}" class="img-fluid"
             alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <div class="d-flex justify-content-start mb-5">
        <div class="p-2" *ngFor="let genre of movieDetails.genres">
          <mdb-badge pill="true" default="true">{{genre.name}}</mdb-badge>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-start">
          <div>
            <h2 class="mb-4">{{movieDetails.movie.title}}</h2>
          </div>
        </div>
      </div>
      <h4 class="font-weight-normal movie-description-style">{{movieDetails.movie.description}}</h4>
    </div>
  </div>
  <app-review-list [reviews]="movieDetails.reviewsPayload" (onEditReview)="onEditReview($event)" (onDeleteReview)="onDeleteReview($event)"></app-review-list>
  <ng-container *ngIf="!userHasComment()">
    <section class="my-5">
      <div class="card-header border-0 font-weight-bold">Leave a comment</div>
      <app-edit-review (submitReview)="onSubmitReview($event)"></app-edit-review>
    </section>
  </ng-container>
</div>


