.notification{
  position: absolute;
  top: -50%;
  left: 50%;
  z-index: 10;
}

.navbar {
  background-color: var(--main-theme-color) !important;
}


.shake-brand {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-decoration: none;
  -webkit-background-clip: text;
  animation: 2s shake alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(-30deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(0deg); }
  20% { transform: skewX(15deg); }
  25% { transform: skewX(30deg); }
  30% { transform: skewX(15deg); }
  35% { transform: skewX(0deg); }
  40% { transform: skewX(15deg); }
  45% { transform: skewX(30deg); }
  50% { transform: skewX(15deg); }
  100% { transform: skewX(0deg); }
}

