<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color fixed-top" [containerInside]="false">
  <mdb-navbar-brand appNameHover><a class="navbar-brand text-white" routerLink="/">ShowTime</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light font-weight-bold" mdbWavesEffect routerLink="profile/my-reviews">My reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light font-weight-bold" mdbWavesEffect (click)="openAddMovieModal()">Add movie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light font-weight-bold" mdbWavesEffect routerLink="statistics">Statistics</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <div>
              <mdb-icon fas icon="bell" size="lg" mdbDropdownToggle></mdb-icon>
            </div>
            <div class="notification" *ngIf="false">
              <mdb-badge pill="true" color="red">
                1
              </mdb-badge>
            </div>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary mt-2">
              <a class="dropdown-item">no messages</a>
            </div>
          </div>
        </a>
      </li>
       <li class="nav-item">
          <a class="nav-link">
            <div mdbDropdown>
              <div class="font-weight-bold" mdbDropdownToggle>
                {{ userFullName | async }}
              </div>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary mt-2">
                <a class="dropdown-item" (click)="navigateToUserDetailsScreen()">My Details</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </div>
            </div>
          </a>
        </li>
    </ul>
  </links>
</mdb-navbar>
