<mdb-card>
  <mdb-card-img src="{{movie.imageUrl}}"
                alt="Card image cap">
  </mdb-card-img>
  <mdb-card-body>
    <mdb-card-title>
      <h4 class="text-center">{{movie.title}}</h4>
    </mdb-card-title>
    <mdb-card-text>
      <p class="text-center" dir="ltr">{{movie.description | movieDescription:[100, '...']}}</p>
    </mdb-card-text>
    <div class="text-center">
      <mdb-icon fas icon="star" size="2x" style="color:var(--rating-color);"></mdb-icon>
      {{movie.rating ? movie.rating : 'No Rating'}}
    </div>
    <div class="text-center mt-3">
      <a href="#" mdbBtn class="additional-info-button text-white"  [routerLink]="['/movie-details', movie._id]" mdbWavesEffect>More Info</a>
    </div>
  </mdb-card-body>
</mdb-card>
