<form [formGroup]="validatingForm">
  <div class="form-row mb-4 md-form justify-content-center">
    <div class="col-md-5">
      <label>Username</label>
      <input mdbInput mdbValidate
             name="username" class="form-control"
             type="text" formControlName="username"
             placeholder="Type your username here..."
             pattern="[a-zA-Z0-9]*">
    </div>
  </div>
  <div class="form-row md-form justify-content-center mb-0">
    <div class="col-md-5">
      <label>Password</label>
      <input mdbInput mdbValidate
             name="password" class="form-control"
             type="password" formControlName="password"
             placeholder="Type your password here...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <button mdbBtn color="info" block="true" class="my-4" type="submit"
              style="width: 15vw"
              [disabled]="!validatingForm.valid"
              (click)="login()">Get in!
      </button>
    </div>
  </div>
</form>
