<div class="modal-header justify-content-center">
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">×</span>
  </button>
  <h5>Add Movie</h5>

</div>
<div class="modal-body text-center">
  <div class="container mt-3">
    <div class="row d-flex md-form justify-content-center">
      <div class="col-md-8">
        <form class="text-center"
              [formGroup]="movieForm" autocomplete="off">
          <div class="md-form md-outline">
            <div class="d-flex justify-content-center">
              <div class="mt-2">
                <input mdbInput mdbValidate type="text" id="movieNameForm" class="form-control"
                       formControlName="movieNameForm" [(ngModel)]="movieName" style="text-align: center">
                <label for="movieNameForm">Movie name</label>
              </div>
              <div>
                <button type="button" mdbBtn color="primary" class="relative waves-light btn-blue-grey"
                        (click)="searchMovie()" [disabled]="movieNameForm.invalid" mdbWavesEffect>
                  Search
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer justify-content-center">
    <div class="row justify-content-start badge-list">
      <div class="p-2" *ngFor="let movie of moviesResult">
        <mdb-badge pill="true" default="true" style="cursor: pointer" [ngClass]="{'selected-movie': movie === selectedMovie,
        'unselected-movie': movie !== selectedMovie}"
                   (click)="selectMovie(movie)">{{movie.title}}</mdb-badge>
      </div>
    </div>

    <div class="row justify-content-center">
      <button type="button" mdbBtn color="primary" class="relative waves-light btn-blue-grey" mdbWavesEffect
              [disabled]="!selectedMovie" (click)="onSubmit()">
        Add
      </button>
    </div>
  </div>
</div>

