<div class="row justify-content-center pt-3 position-sticky">
  <div class="md-form md-outline mt-0">
    <input mdbInput type="text" id="labelForm" class="input-form form-control" [(ngModel)]="searchText">
    <label for="labelForm" class="ml-2">Search a movie...</label>
  </div>
  <div class="col-md-2">
    <select [(ngModel)]="selectedGenreId" class="browser-default custom-select">
      <option selected [value]="''">Select Genre</option>
      <option *ngFor="let genre of genres" [value]="genre.externalAPIid">{{ genre.name }}</option>
    </select>
  </div>
  <div class="col-md-3">
    <mdb-checkbox [(ngModel)]="isRatingFilterChecked" [checked]="false" [default]="true">Filter By Rate</mdb-checkbox>
    <app-movie-rating [isDisabled]="!isRatingFilterChecked" (ratingChange)="onRatingChange($event)"></app-movie-rating>
  </div>
</div>

<div style="height: 84vh; overflow-y: scroll; overflow-x: hidden;">
  <div class="row text-center">
    <div class="col-md-3" *ngFor="let movie of movies | filterMovie: searchText
                                                      | movieRatingFilter: ratingFilterValue
                                                      | genreFilter: selectedGenreId">
      <div class="p-3">
        <app-movie-card [movie]="movie"></app-movie-card>
      </div>
    </div>
  </div>
</div>
