<div>
  <div *ngIf="isEditable" style="float: right">
    <button type="button" class="btn" (click)="isDuringEdit = !isDuringEdit">
      <i class="far fa-edit" *ngIf="!isDuringEdit"></i>
      <i class="fas fa-times" *ngIf="isDuringEdit"></i>
    </button>
    <button type="button" class="btn" (click)="deleteReview(review.id)">
      <i class="far fa-trash-alt"></i>
    </button>
  </div>
  <ng-container *ngIf="isDuringEdit; else showReview">
    <app-edit-review [content]="review.content" [rating]="review.rating" (submitReview)="editReview($event)"></app-edit-review>
  </ng-container>
  <ng-template #showReview>
    <li class="media">
      <img class="d-flex mr-3" src="../../../../assets/images/user-image.jpg"
           style="width:65px"
           alt="Generic placeholder image">
      <div class="media-body">
        <div class="d-flex justify-content-start">
          <div>
            <span>{{review.username}}</span>
          </div>
          <div class="ml-2">
            <mdb-icon fas icon="star" size="1x" style="color:var(--rating-color);"></mdb-icon>
            {{review.rating}}
          </div>
        </div>
        <h5 class="mt-2 font-weight-bold mt-3">{{review.content}}</h5>
      </div>
    </li>
  </ng-template>
</div>
