<br/>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="text-center border border-light p-5">
      <app-register [isUpdateMode]="true"></app-register>
    </div>
  </div>
</div>
