<div *ngIf="userReviews$ | async as userReviews">
  <div class="pt-4">
    <h3 class="h3-responsive text-center">My Reviews <span class="badge blue">{{userReviews.reviews.length}}</span></h3>
    <hr>
    <app-user-review-list [reviews]="userReviews.reviews"></app-user-review-list>
  </div>
</div>
