<div class="d-md-flex flex-md-fill mt-4 px-1">
  <div class="d-flex justify-content-center mr-md-5">
    <img class="card-img-100 z-depth-1 mb-4" src="assets/images/user-image.jpg"
         alt="avatar">
  </div>
  <form [formGroup]="commentFormGroup" class="w-75">
      <textarea class="form-control pl-3 pt-3" rows="6"
                placeholder="Leave a comment..." formControlName="comment"></textarea>
  </form>
  <div class="d-flex align-items-center ml-4">
    <app-movie-rating [(rating)]="rating"></app-movie-rating>
  </div>
</div>
<div class="text-center mt-4">
  <button class="btn btn-primary btn-md" type="submit" (click)="onSubmit()" [disabled]="!commentFormGroup.valid">
    Submit
  </button>
</div>
