<form [formGroup]="validatingForm">
  <div class="form-row mb-4 md-form justify-content-center">
    <div class="col-md-5">
      <label>Username</label>
      <input mdbInput
             mdbValidate
             type="text"
             formControlName="username" class="form-control"
             placeholder="Username"
             pattern="[a-zA-Z0-9]*">
    </div>
  </div>
  <div class="form-row md-form justify-content-center">
    <div class="col-md-3">
      <label>First Name</label>
      <input mdbInput
             mdbValidate
             type="text"
             formControlName="firstName" class="form-control"
             placeholder="First Name"
             pattern="[a-zA-Z ]*">
    </div>
    <div class="col-md-3">
      <label>Last Name</label>
      <input mdbInput
             mdbValidate
             type="text"
             formControlName="lastName" class="form-control"
             placeholder="Last Name"
             pattern="[a-zA-Z ]*">
    </div>
  </div>
  <div *ngIf="!isUpdateMode" class="form-row md-form justify-content-center mb-0">
    <div class="col-md-3">
      <label>Password</label>
      <input mdbInput
             mdbValidate
             type="password"
             formControlName="password" class="form-control"
             placeholder="Password">
      <small class="form-text text-muted">
        At least 4 chars
      </small>
    </div>
    <div class="col-md-3">
      <label>Repeat Password</label>
      <input mdbInput
             mdbValidate
             type="password"
             formControlName="repeatedPassword" class="form-control"
             placeholder="Repeat Password">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <button *ngIf="!isUpdateMode" mdbBtn color="info" block="true" class="my-4" type="submit"
              [disabled]="!validatingForm.valid"
              (click)="register()">Register
      </button>
      <button *ngIf="isUpdateMode" mdbBtn color="info" block="true" class="my-4" type="submit"
              [disabled]="!validatingForm.valid || !validatingForm.dirty"
              (click)="updateUserDetails()">Update Details
      </button>
    </div>
  </div>
</form>
